#card{
    margin: 70px;
    margin-left: 400px;
    border: 1px solid black;
    padding: 12px;
    padding-bottom: 80px;
    filter: brightness(120%);
    filter: contrast(120%);
   filter: drop-shadow(10px 10px 10px rgba(50, 146, 225, 0.978));
   background-color: lightsteelblue;
   background-image: linear-gradient(rgb(98, 98, 236),aqua);
    
   
}
#love{
     color: orange;
     text-align: center;
      
}